<div class="container mt-5">
  <h3>Technology News</h3>
  <div class="row">
    <div
      *ngFor="
        let haber of technologyIcerik
          | paginate
            : {
                itemsPerPage: 20,
                currentPage: pageTechnology
              }
      "
      class="col-lg-3 mt-4"
    >
      <div class="card1">
        <img src="{{ haber.urlToImage }}" width="100%" class="mt-3" />
        <h5 class="mt-2 mb-2" style="font-size: 17px; font-weight: 600">
          {{ haber.title }}
        </h5>
        <a href="{{ haber.url }}" class="btn btn-primary btn-sm" target="_blank"
          >Daha fazla okuyun..</a
        >
      </div>
    </div>
    <div class="d-flex justify-content-left">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        [responsive]="true"
        (pageChange)="onPageChange($event)"
      >
      </pagination-controls>
    </div>
  </div>
</div>
