/* You can add global styles to this file, and also import other style files */

*
{
  box-sizing: border-box;
}

body
{
font-family:'Times New Roman', Times, serif;
}

.card1
{
  padding: 10px 10px;
  background-color: #F9f9f9
}

